@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.1rem;
}

section {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.5rem;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

.gallerize {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  text-align: center;
}

.search {
  display: flex;
  margin: 0 auto;
  padding: 1rem;
  justify-content: center;
}

.searchBar {
  border: solid 1px #777;
  border-radius: 4px;
  border-right: none;
  padding-left: 0.5rem;
  font-size: 1.1rem;
}

.button {
  background: #fff;
  border-radius: 4px;
  font-weight: 700;
  padding: 0.5rem 1rem;
}

.image-thumb {
  padding: 1.5rem;
  display: inline-block;
}

.thumb {
  max-width: 150px;
}

.image {
  display: block;
  margin: auto;
  padding: 1.5rem;
}

.footer {
  text-align: center;
  padding: 1em;
  font-size: 1.1rem;
}
